{% extends "layout.html" %}

{% block title %}회원가입{% endblock %}

{% block content %}
<h2>회원가입</h2>
<form method="post">
    학번: 
    <input type="text" name="sid"><br>
    반: 
    <select name="ban">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select><br>
    이름: 
    <input type="text" name="sname"><br>
    비밀번호: 
    <input type="password" name="password"><br>
    비밀번호 확인: 
    <input type="password" name="passwordCheck"><br>
    <button type="submit">가입</button>
</form>
{% endblock %}