{% extends "layout.html" %}

{% block title %}성적 수정하기{% endblock %}

{% block content %}
<h2>성적 수정하기</h2>
<form method="post" action="{{url_for('update_score')}}">
    국어:
    <input type="text" name="kor" value="{{score[1]}}" required><br>
    영어:
    <input type="text" name="eng" value="{{score[2]}}" required><br>
    수학:
    <input type="text" name="mat" value="{{score[3]}}" required><br>
    총점:
    <input type="text" name="tot" value="{{score[4]}}" readonly><br>
    평균:
    <input type="text" name="avg" value="{{score[5]}}" readonly><br>
    학점:
    <input type="text" name="grade" value="{{score[6]}}" readonly><br>
    <button type="submit">입력</button>
</form>
{% endblock %}